{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'd2d_app/style.css' %}" />
    <title>{% block title %}D2D shipping service{% endblock %}</title>
</head>

<body>
    <div class="personal_menu">
        <a href={% url 'index' %}><img src="{% static 'd2d_app/logo.png' %}"/></a>
        <div class="menu_links">
            <ul>
                {% if user.is_authenticated %}
                <li><a href={% url 'index' %}>Home</a></li>
                <li><a href={% url 'add_contract' %}>Create</a></li>
                <li><a href={% url 'logout' %}>Log out</a></li>
                {% else %}
                <li><a href={% url 'login' %}>Log in</a></li>
                <li><a href={% url 'register' %}>Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div id="top">
    </div>
    
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>

</body>

</html>
