body {
    background-color: #EEEEEE;
    font-family: Helvetica;
    font-size: 16px;
    padding-left: 10%;
    padding-right: 10%;
}

p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.content {
    margin-left: 5px;
    margin-top: 10px;
}

.content_box {
    background-color: white;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-width: 1px;
    border-style: solid;
    border-left-width: 7px;
    border-left-color: orange; 
    border-top-color: #D0D0D0;
    border-bottom-color: #B0B0B0;
    border-right-color: #B0B0B0;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 15px;
}
                    /* ⋀⋁ These two are almost copies, todo: inherit? */
.content_notice {
    background-color: white;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-width: 1px;
    border-style: solid;
    border-left-width: 7px;
    border-left-color: red; 
    border-top-color: #D0D0D0;
    border-bottom-color: #B0B0B0;
    border-right-color: #B0B0B0;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 15px;
}

.menu_links ul {
    list-style-type: none;
    margin: 0px;
    margin-left: 0px;
    padding: 0px;
}

.menu_links li {
    display: inline;
    margin-right: 10px;
    font-size: 12px;
}

.menu_links a {
    text-decoration: none;
    color: #3000A0;
}

.personal_menu {
    background-color: #FFFFFF;
    width: 100%;
    padding-top: 8px;
    padding-left: 20px;
    padding-bottom: 6px;
    border-bottom-style: solid;
    border-width: 1px;
    margin-top: -9px;
}

/* Login page */
.login_box {
    padding: 20px;
    background-color: #FFFFFF;
    width: 300px;
    border-width: 1px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
